#mainNav.fixed{
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: $gray-800;
  z-index: 1025;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#mainNav {
  @include heading-font;
  .navbar-brand {
    color: $primary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($white, 0.6);
          }
        }
        &.active {
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
