a {
  color: #66ccff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

hr {
  max-width: 70px;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(52, 58, 64, 0.85);
}

.nav-wrapper {
  height: 53px;
}

#mainNav.fixed {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #343a40;
  z-index: 1025;
}

#mainNav {
  z-index: 1025;
  background-color: #343a40;
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #66ccff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #66ccff;
}

#mainNav .navbar-nav .nav-item .dropdown-menu {
  background-color: #343a40;
}

#mainNav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #adb5bd;
  background-color: #343a40;
}

#mainNav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #fff;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #66ccff;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer p.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Raleway';
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Raleway';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #66ccff;
}

.site-heading {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.site-heading .site-heading-lower {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.discipline-box i {
  color: #343a40;
}

.btn-primary {
  background-color: #66ccff;
  border-color: #66ccff;
}

.btn-primary:hover {
  background-color: #33bbff;
  border-color: #33bbff;
}

.text-primary {
  color: #66ccff !important;
}
